<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Strange Yoga</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li 
              {% if '/' == request.path %}
                class="nav-item active"
                {% else %}
                class="nav-item"
              {% endif %}
                class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li 
            {% if 'about' in request.path %}
                class="nav-item active"
                {% else %}
                class="nav-item"
              {% endif %}
                class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li
            {% if 'services' in request.path %}
                class="nav-item active"
                {% else %}
                class="nav-item"
              {% endif %}
                class="nav-item">
              <a class="nav-link" href="{% url 'services' %}">Services</a>
            </li>
            <li {% if 'events' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
          {% endif %}
            class="nav-item">
          <a class="nav-link" href="{% url 'events' %}">Events</a>
            </li>
            <li {% if 'blog' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
          {% endif %}
            class="nav-item">
          <a class="nav-link" href="{% url 'blog' %}">Blog</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Contact
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="tel:555-555-5555"><i class="fas fa-phone"></i> &nbsp; 720-555-5555</a>
                  <a class="dropdown-item" href="mailto:someone@example.com?Subject=Hello%20Jenna" target="_top"><i class="fas fa-envelope"></i> &nbsp; email@address.com</a>
                </div>
              </li>
          </ul>
        </div>
      </nav>